/* vim: set et ts=2 sw=2: */
body {
  color: black;
  background-color: white;
}

pre {
  background-color: #eee;
  border: 1px solid #ddd;
}

/******************************************************************************/
/* Fonts */
/******************************************************************************/
h1, h2, h3, h4, h5, h6 {
  font-family: "Bitstream Vera Sans", Verdana, sans-serif;
}

body {
  font-family: "Bitstream Vera Sans", Verdana, sans-serif;
}

/******************************************************************************/
/* Link colors */
/******************************************************************************/

a:link,
.block-user a:link,
.block-user a:visited {
  color: #369;
}

.title a:link,
.title a:visited {
  color: black;
}

a:visited {
  color: #636;
}

a:hover,
.node .title a:hover {
  color: #CC0000;
}

.block-user a.active:link,
.block-user a.active:visited {
  color: black;
}

/******************************************************************************/
/* Header styling */
/******************************************************************************/

#header {
  background-color: #369;
  background-image: url("bg/header-blue.png");
}

#primary {
  color: white;
}
#primary a {
  color: white;
}
#secondary {
  color: #9cf;
}
#secondary a {
  color: #9cf;
}

.site-slogan {
  color: #eee;
}

.site-name a:link, .site-name a:visited {
  color: #fff;
}

#mission {
  background-color: #369;
  color: #fff;
}

#mission a, #mission a:visited {
  color: white;
}

.messages {
  background-color: #eee;
  border: 1px solid #ccc;
}
.error {
  border-color: red;
}

#footer {
  background-color: #d0d0d0;
  background-image: url("bg/odd-active.png");
  border-top: 1px solid #aaaaaa;
}

.sidebar .block {
  border-bottom: 1px solid #bbb;
  background-color: #e0e0e0;
  background-image: url("bg/even-active.png");
}

/******************************************************************************/
/* Common declarations */
/******************************************************************************/

.submitted {
  color: #666666;
}

.breadcrumb a,
.submitted a,
.taxonomy a,
.node .links a,
.comment .links a
{
  color: black;
}

.sticky {
  background-color: #eeeeee;
  border: solid 1px #cccccc;
}

.node .taxonomy {
  color: #999;
}

.node .picture {
  border: 1px solid #ddd;
}

.comment {
  border: 1px solid #cccccc;
}

.comment .title {
  background-color: #e8e8e8;
}

.comment .new {
  color: red;
}

.content h2 {
  border-bottom: 1px dotted #888888;
}

.node.sticky .title {
  background-image: none;
}

.node .title,
#main h1.title {
  border-bottom: 1px solid #888888;
}

.node.item-listing
{
  background-image: url("bg/node-list.png");
  border-top: 1px solid #cccccc;
}

.search-results .title {
  text-decoration: underline;
}

.box
{
  background-color: #f0f0f0;
  background-image: url("bg/even.png");
  border: 1px solid #cccccc;
}

.box .node
{
  background-color: white;
}

/******************************************************************************/
/* Module-specific styling */
/******************************************************************************/

#forum td.statistics, #forum td.settings, #forum td.pager {
  border: 1px solid #bbb;
}

#aggregator .feed {
  background-color: #eee;
  border: 1px solid #ccc;
}
#aggregator .news-item .source, #aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #888888;
}

#aggregator .news-item .title a {
  text-decoration: underline;
}

#profile .profile {
  border: 1px solid #abc;
}

.calendar td, .calendar th {
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}

/******************************************************************************/
/* Forms */
/******************************************************************************/

.form-item label {
  color: #222;
}

fieldset {
  border: 1px solid #ccc;
}

input, textarea, select {
  border: 1px silver inset;
}

input[type="submit"] {
  border: 2px #369 outset;
  background-color: #369;
  color: white;
}

input[type="text"], textarea, .form-text#edit-pass {
  padding: 3px;
}

/******************************************************************************/
/* Drupal Menu Restyling */
/******************************************************************************/


/* Standard menu look */
.block div.menu li a,
.block ul.menu li a,
div.block-book li a {
  border: 1px solid #e0e0e0;
}

/* Hover/focus menu look */
.block div.menu li a:hover,
.block div.menu li a:focus,
.block ul.menu li a:hover,
.block ul.menu li a:focus,
div.block-book li a:hover,
div.block-book li a:focus {
  background-color: #f0f0f0;
  border: 1px #aaaaaa solid;
}

/******************************************************************************/
/* Drupal Overrides */
/******************************************************************************/

.codeblock {
  background-color: #f5f5f5 !important;
  border: 1px solid #dddddd !important;
  border-left: 4px solid #dddddd !important;
}
