/* vim: set et ts=2 sw=2: */
@charset "iso-8859-1";

.clear
{
  clear: both;
  display: block;
  padding-bottom: 1px;  /* for Gecko-based browsers */
  margin-bottom: -1px;  /* for Gecko-based browsers */
}

.hide
{
  display: none !important;
}

#pageWrapper
{
  min-width: 40em;  /* IE doens't understand this property. EMs are used
           so that as the font size increases, the proportional
           limitations (min-width) increase with it, rather
           than creating a middle column that can only fit
           3 or 4 characters in it. */
  width: auto;
}
* html #pageWrapper
{
  /* \*/
    word-wrap: break-word;
  /* invalid CSS but keeps IE from breaking horribly under narrow viewports */
}

table#columnContainer
{
  border: none;
  margin: 0;
  width: 100%;
}

#middleColumn
{
  border: none;
  margin: 0;
  background-color: white;
  vertical-align: top;
}
#leftColumn
{
  border: none;
  margin: 0;
  width: 14em;
  background-color: #e0e0e0;
  vertical-align: top;
}
#rightColumn
{
  margin: 0;
  width: 14em;
  background-color: #e0e0e0;
  vertical-align: top;
}
