/* vim: set et ts=2 sw=2: */
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h1, h2, h2.title a {
  font-weight: normal;
}

h3, h4, h5, h6 {
  font-size: 1.1em;
}

p {
  margin-top: 0.5ex;
}

h2, h3 {
  margin-bottom: 1ex;
}

a {
  font-weight: bold;
}

a.active { outline: none; }

dt { font-weight: bold; }

#header, #content {
  width: 100%;
}

#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}

#sidebar-left, #sidebar-right {
  vertical-align: top;
  z-index: 5;
}

#sidebar-right .block {
  padding-right: 8px;
}

#sidebar-left .block {
  padding-left: 8px;
}

#footer {
  padding: 0.5em 1em;
  font-size: 0.8em;
}

.sidebar .block,
#footer {
  background-repeat: repeat-x;
}

pre {
  padding: 0.5em 0.5em;
}

table {
  font-size: 1em;
}

label {
  cursor: pointer;
}

/******************************************************************************/
/* Header styling */
/******************************************************************************/

#header {
  background-position: bottom;
  background-repeat: repeat-x;
}

#site-name-slogan {
  padding: 1ex;
  padding-left: 1em;
  vertical-align: middle;
}

#menu {
  padding: 1ex;
  text-align: right;
  vertical-align: middle;
}

#primary
{
  padding-top: 0.5ex;
}

#header #menu a:link,
#header #menu a:visited
{
  text-decoration: none;
}

#header #menu a:hover
{
  text-decoration: underline;
}

#primary a {
  font-weight: bold;
}
#secondary {
  font-size: 0.8em;
}
#secondary a {
  font-weight: bold;
}
#search .form-text, #search .form-submit {
  border-width: 1px;
  font-size: 0.8em;
}
#search .form-text {
  padding: 0.2ex;
  margin: 0 0 0.5em 0;
}
#search .form-submit {
  height: 1.5em;
}

.site-name {
  margin: 0;
  font-size: 1.7em;
  line-height: 0.9em;
}

.site-name a:link, .site-name a:visited {
  text-decoration: none;
}

.site-slogan {
  font-size: 1em;
  display: block;
  margin: 0em 0em 0em 0em;
  font-style: italic;
  font-weight: bold;
}

#site-name-slogan {
  padding-left: 1em;
}

#site-title {
  padding: 0.5em;
}

#mission {
  padding: 1.0em;
}

#mission a, #mission a:visited {
  font-weight: bold;
}

#help {
  font-size: 0.9em;
  margin: 1em 0;
}

.breadcrumb {
  margin-bottom: .5em;
  font-size: 0.8em;
}

.messages {
  padding: 0.3em;
  margin: 1em 0;
}

.form-item label {
  font-size: 1em;
}

/******************************************************************************/
/* Calendar */
/******************************************************************************/

.calendar a,
.event-calendar a
{
  text-decoration: none;
}

.calendar td, .calendar th,
.event-calendar td, event-calendar th {
  padding: 0.2ex 0 !important;
}

.block-event .event-calendar a
{
  display: block;
}

/******************************************************************************/
/* Common declarations */
/******************************************************************************/

.title, .title a {
  margin: 0;
  text-decoration: none;
}
.submitted {
  font-size: 0.8em;
}
.block, .box {
  padding: 0 0 1.5em 0;
  font-size: 0.8em;
}
.sidebar .block {
  padding: 5px;
  padding-bottom: 1em;
}
.block .title {
  font-weight: bold;
  margin-bottom: .5em;
}

.box
{
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-repeat: repeat-x;
  background-position: top;
}

.links {
  font-size: 0.8em;
  text-align: right;
}

.node,
.term /* taxonomy_context module */
{
  margin: .5em 0 1em 0;
}

.node.sticky
{
  padding: 1ex;
}

.node .taxonomy {
  font-size: 0.8em;
  display: block;
}

.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}

.node.item-listing
{
  padding: 1ex;
  background-repeat: repeat-x;
}

.node.item-listing.sticky
{
  background-image: none;
}

.comment {
  margin-bottom: 0.5em;
}

.comment .title {
  font-size: 1.0em;
  padding: 0.5ex;
}

.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
}

.comment .picture {
  float: right;
  margin: 0.5em;
}

.comment .info,
.comment .links {
  padding: 0.5ex 0.75em 0.3ex 0.75em;
}

.nav .links {
  padding: 0;
}

.comment .title,
.term, /* taxonomy_context module */
.comment .content
{
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.node .title,
#main h1.title {
  padding-bottom: 0.2ex;
}

.node .info,
.node .links {
  padding: 0.5ex 0;
}

.book .links {
  padding: 0;
}

.node table ul {
  margin: 0;
  padding-left: 1em;
}

ul.images li {
  font-size: 0.8em;
}

/******************************************************************************/
/* Module-specific styling */
/******************************************************************************/

#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
}

#forum .created,
#forum .last-reply {
  font-size: smaller;
}

#aggregator .feed {
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .source, #aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  font-size: 0.8em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}

#profile .profile {
  clear: both;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}

#profile .profile .name {
  padding-bottom: 0.5em;
}

/******************************************************************************/
/* Drupal Menu Restyling */
/******************************************************************************/

.menu {
  padding: 0;
}

.block li a {
  width: auto;
}

.block div.menu ul,
.block ul.menu,
div.block-book ul {
  padding: 0 0 0 0em;
}

.block div.menu ul ul,
.block ul.menu ul,
div.block-book ul ul {
  padding: 0 0px 0 1em;
}

.block div.menu li li,
.block ul.menu li li,
.block div.block-book li li {
  margin-left: 0;
}

.node table ul {
  margin: 0;
  padding-left: 1em;
}

div.menu li.expanded,
div.menu li.collapsed,
div.menu li.leaf,
ul.menu li.expanded,
ul.menu li.collapsed,
ul.menu li.leaf
{
  list-style-type: none !important;
  list-style-image: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

div.block div.menu li a,
div.block ul.menu li a,
div.block-book li a
{
  display: block;
  margin: 0px; padding: 1px;
  text-decoration: none;
}

li.a,
div.menu li.expanded a,
div.menu li.collapsed a,
div.menu li.leaf a,
ul.menu li.expanded a,
ul.menu li.collapsed a,
ul.menu li.leaf a
{
  background-repeat: no-repeat;
  background-position: 0.5ex 0.45em;
  padding-left: 1.2em !important;
  width: auto;
  _height: 1px;
}

div.menu li.expanded a,
ul.menu li.expanded a
{
  background-image: url("icons/menu-expanded.png");
}

div.menu li.collapsed a,
ul.menu li.collapsed a
{
  background-image: url("icons/menu-collapsed.png");
}

div.menu li.leaf a,
ul.menu li.leaf a
{
  background-image: url("icons/menu-leaf.png");
}
/* End Restyling of Drupal Menus */

/******************************************************************************/
/* Drupal Overrides */
/******************************************************************************/

.book .tree a {
  text-decoration: underline;
}

/* Fix for Firefox 1.5 float problem */
.poll .foreground
{
  position: absolute;
}

.form-item {
  position: relative;
}

textarea {
  font-size: 1em;
}
