/* vim: set et ts=2 sw=2: */
tr th,
tr.light td,
tr.dark td,
tr.odd td,
tr.even td
{
  padding: 0.3em;
}

/* Begin Override Drupal tables colors and background images */
tr.light,
tr.light .active,
tr.dark,
tr.dark .active,
tr.odd,
tr.odd .active,
tr.even,
tr.even .active,
tr.watchdog-user,
tr.watchdog-user .active,
tr.watchdog-content,
tr.watchdog-content .active,
tr.watchdog-page-not-found, tr.watchdog-access-denied,
tr.watchdog-page-not-found .active, tr.watchdog-access-denied .active,
tr.watchdog-error,
tr.watchdog-error .active,
tr th.active,
tr th,
#forum td.topics, #forum td.last-reply,
#forum td.container
{
  background-repeat: repeat-x;
}
tr.light,
tr.dark,
tr.even,
tr.odd
{
  background-color: #f0f0f0;
  background-image: url("bg/even.png");
}
tr.light .active,
tr.dark .active,
tr.even .active,
tr.odd .active
#forum td.topics, #forum td.last-reply
{
  background-color: #e0e0e0;
  background-image: url("bg/even-active.png");
}
#forum td.container {
  background-color: #d0d0d0;
  background-image: url("bg/odd-active.png");
}

tr th.active
{
  background-color: #e0e0e0;
  background-image: url("bg/even.png");
}

tr th
{
  background-image: url("bg/white.png");
  border: 1px outset silver;
  border-bottom: 2px solid silver;
}

tr.watchdog-user {
  background-color: #ffd;
  background-image: url("bg/yellow.png");
}
tr.watchdog-user .active {
  background-color: #eed;
  background-image: url("bg/yellow-active.png");
}
tr.watchdog-content {
  background-color: #ddf;
  background-image: url("bg/blue.png");
}
tr.watchdog-content .active {
  background-color: #cce;
  background-image: url("bg/blue-active.png");
}
tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background-color: #dfd;
  background-image: url("bg/green.png");
}
tr.watchdog-page-not-found .active, tr.watchdog-access-denied .active {
  background-color: #cec;
  background-image: url("bg/green-active.png");
}
tr.watchdog-error {
  background-color: #ffc9c9;
  background-image: url("bg/red.png");
}
tr.watchdog-error .active {
  background-color: #eeb9b9;
  background-image: url("bg/red-active.png");
}

/* End override Drupal tables colors and background images */
